<div class="jumbotron bg-info bg-gradient bg-opacity-75 p-3 my-3 border-5 border border-secondary rounded-4 shadow text-white ">    
        <h1>MVC - PHP - HEADER</h1>
        <p>Model - View - Controller</p>   
        <div class="container">
                <a href="{{URL}}"><button class="btn btn-light">Home</button></a>
                <a href="{{URL}}/about"><button class="btn btn-light">Sobre</button></a>
                <a href="{{URL}}/linguagens"><button class="btn btn-light">Linguagens</button></a>
        </div>
</div>