<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
</head>
<body>
        
<div class="jumbotron bg-success bg-gradient bg-opacity-75 p-3 my-3 border-1 border border-light rounded-4 shadow text-white ">    
        <h2>Organização : {{name}}</h2>
        <h3>Site: {{site}}</h3>
        <p>Descrição: {{description}}</p>
        <p>Identificador: {{id}}</p>
        <h1>Linguagens: </h1>
        <h2>{{linguagens}}</h2>   
</div>
</body>
</html>

